* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  line-height: 1.6;
  background: #b36b6b;
}

header {
  background: #6d72b3;
  color: #110f0f;
  padding: 0;
  text-align: center;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}

.logo {
  font-size: 1.5rem;
  font-weight: bold;
}

.nav-links {
  display: flex;
  gap: 1rem;
}

.nav-links a {
  color: #1939c7;
  text-decoration: none;
  font-weight: 500;
  font-family: 'Times New Roman', Times, serif;
}

main {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
  padding: 1rem;
  margin: 0rem;
}

.content {
  flex: 3;
  background: #5c2f2f;
  padding: 0.5rem;
  box-shadow: 0 4px 5px rgba(0,0,0,0.1);
  border-radius: 8px;
  border: 1px solid #ccc;
}

.sidebar {
  flex: 1;
  background: #0e91c5;
  padding: 1rem;
  box-shadow: 0 4px 5px rgba(0,0,0,0.1);
  border: 1px solid #ccc;
  border-radius: 8px;
}

footer {
  background: #2b2d42;
  color: #201818;
  text-align: center;
  padding: 1rem;
  margin-top: 1rem;
}

/* Media Queries */
@media (max-width: 768px) {
  .nav-links {
    flex-direction: column;
    align-items: flex-start;
  }

  main {
    flex-direction: column;
  }
}

@media (max-width: 480px) {
  .logo {
    font-size: 1.2rem;
  }

  .nav-links a {
    font-size: 0.9rem;
  }
}
